@import "./variables.scss";
@import "./mixins.scss";

@import "./windows/bar.scss";

* {
  all: unset;
}

tooltip {
  animation-name: appear;
  animation-duration: 100ms;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  background-color: $surface0;
  opacity: 0.95;
  @include small-rounding;
}

.icon-material {
  @include icon-material;
}

window {
  @include main-font;
  color: $text;
}

menu {
  background-color: $base;
  opacity: 0.95;
  border: 1px solid $crust;

  &item {
    border-bottom: 1px solid $crust;
    border-top: 1px solid $crust;
    padding: 5px 10px;
    min-width: 150px;
    margin-top: -1px;

    &:hover {
      background-color: $hovercolor;
    }

    &:disabled {
      color: $overlay2;
      border: none;
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
