@import "./scss/varialbles.scss";

* {
  all: unset;
}

window {
  font-family: "Ubuntu Nerd Font";
}

@mixin transition {
  transition: all 0.2s ease;
}

@mixin bar-container {
  background: $base;
  font-size: 17px;
  border: 2px solid $rosewater;
  border-radius: 10px;
  padding: 3px 5px;
  color: $text;
}

@mixin bar-button-hover {
  &:hover {
    background: $crust;
  }

  &:focus, &:active {
    background: $text;
    color: $base;
  }
}

.bar .start .os button {
  @include bar-container;
  @include bar-button-hover;
  @include transition;
  color: $blue;
}
