$base00: #2f1e2e;
$base01: #41323f;
$base02: #4f424c;
$base03: #776e71;
$base04: #8d8687;
$base05: #a39e9b;
$base06: #b9b6b0;
$base07: #e7e9db;
$base08: #ef6155;
$base09: #f99b15;
$base0A: #fec418;
$base0B: #48b685;
$base0C: #5bc4bf;
$base0D: #06b6ef;
$base0E: #815ba4;
$base0F: #e96ba8;

* {
  all: unset;
}

.bar-widget {
  margin-top: 5px;
  padding: 0 10px;

  .logo {
    padding: 1px 12px 1px 5px;
    font-size: 20px;
    color: $base00;
    background-color: $base0D;
    border: 1px solid $base00;
    border-radius: 9999px;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: $base0C;
    }

    &:focus, &:active {
      background-color: $base0E;
      color: $base07;
    }
  }
}
