@mixin group {
  background-color: rgba($color: $base, $alpha: 0.8);
  border: 2px solid $rosewater;
}

@mixin button {
  &:hover {
    background-color: $hovercolor;
    color: $base;
  }

  &:active {
    background-color: $activecolor;
  }
}

.bar {
  font-size: 1rem;
}

.bar .panel {
  margin: 5px 6px 0;
}

.bar .os button {
  @include group;
  @include button;
  @include full-rounding;
  padding: 5px 7px;
  @include small-transition;
  font-size: 1.2rem;
}

.bar .workspaces {
  @include group;
  @include normal-rounding;
}

.bar .workspaces-button {
  padding: 0 7px;
  @include button;
  @include small-transition;
  @include full-rounding;
}

.bar .title {
  @include group;
  @include normal-rounding;
  @include title-font;
  padding: 0 10px;
}

.bar .system {
  @include group;
  @include normal-rounding;
  padding: 0 10px;
}

.bar .system .battery {
  &-icon {
    color: $green;
    font-size: 1.2rem;
  }

  &-charging {
    color: $green;
  }

  &-low {
    color: $red;
  }
}

.bar .system .settings {
  .icon-material {
    font-size: 1.2rem;
  }
}

.bar .tray {
  @include group;
  @include normal-rounding;
  padding: 0 10px;
}

.bar .notification {
  @include group;
  @include normal-rounding;
  padding: 0 10px;

  .icon-material {
    font-size: 1.3rem;
  }
}
